#### Imports

In [104]:
import pandas as pd
from sklearn import tree
from treeviz import tree_print
from sklearn.metrics import accuracy_score

# Tennis Dataset

#### Creates the dataframe

In [105]:
tennis_df = pd.read_csv('tennis_numeric.csv')

In [106]:
tennis_df

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy,play
0,1,0,0,85,85,0,no
1,1,0,0,80,90,1,no
2,0,1,0,83,86,0,yes
3,0,0,1,70,96,0,yes
4,0,0,1,68,80,0,yes
5,0,0,1,65,70,1,no
6,0,1,0,64,65,1,yes
7,1,0,0,72,95,0,no
8,1,0,0,69,70,0,yes
9,0,0,1,75,80,0,yes
10,1,0,0,75,70,1,yes
11,0,1,0,72,90,1,yes
12,0,1,0,81,75,0,yes
13,0,0,1,71,91,1,no

#### Creates the entropy tree

In [107]:
tennis_dtree = tree.DecisionTreeClassifier(criterion='entropy')

### Split the data into numerical and categorical

#### Categorical

In [108]:
tennis_categorical = pd.DataFrame(tennis_df['play'])

In [109]:
tennis_categorical.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

#### Numerical

In [110]:
tennis_numerical = tennis_df.drop(['play'], axis=1)

In [111]:
tennis_numerical.head()

,outlook_sunny,outlook_overcast,outlook_rainy,temperature,humidity,windy
0,1,0,0,85,85,0
1,1,0,0,80,90,1
2,0,1,0,83,86,0
3,0,0,1,70,96,0
4,0,0,1,68,80,0

#### Create the entropy tree

In [112]:
tennis_dtree = tree.DecisionTreeClassifier(criterion='entropy')

#### Build the model

In [113]:
tennis_dtree.fit(tennis_numerical, tennis_categorical)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

#### Print the tree

In [114]:
tree_print(tennis_dtree, tennis_numerical)

if outlook_overcast =< 0.5:
  |then if humidity =< 82.5:
  |  |then if temperature =< 66.5:
  |  |  |then no
  |  |  |else yes
  |  |else if humidity =< 95.5:
  |  |  |then no
  |  |  |else yes
  |else yes
<------->
Tree Depth:  3

#### Produces the array of labels

In [115]:
predict_array = tennis_dtree.predict(tennis_numerical)

In [116]:
predicted_labels = pd.DataFrame(predict_array)

In [117]:
predicted_labels.columns = ['Play']

#### A list of the predicted labels

In [118]:
predicted_labels.head()

  Play
0   no
1   no
2  yes
3  yes
4  yes

#### A list of the actual labels

In [119]:
tennis_categorical.head()

  play
0   no
1   no
2  yes
3  yes
4  yes

#### Checks to see if the predicted label and target label are the same

In [120]:
predicted_labels.equals(tennis_categorical)

False

# Our Dataset

#### Createst the DateFrame

In [121]:
df = pd.read_csv('Garch.csv')

In [122]:
df

,Unnamed: 0,date,day,dm,ddm,bp,cd,dy,sf
0,1,800102,wednesday,0.5861,NaN,2.2490,0.8547,0.004206,0.6365
1,2,800103,thursday,0.5837,-0.004103,2.2365,0.8552,0.004187,0.6357
2,3,800104,friday,0.5842,0.000856,2.2410,0.8566,0.004269,0.6355
3,4,800107,monday,0.5853,0.001881,2.2645,0.8538,0.004315,0.6373
4,5,800108,tuesday,0.5824,-0.004967,2.2560,0.8553,0.004257,0.6329
5,6,800109,wednesday,0.5834,0.001716,2.2650,0.8565,0.004245,0.6349
6,7,800110,thursday,0.5807,-0.004639,2.2505,0.8583,0.004237,0.6317
7,8,800111,friday,0.5819,0.002064,2.2640,0.8591,0.004238,0.6331
8,9,800114,monday,0.5817,-0.000344,2.2835,0.8580,0.004227,0.6317
9,10,800115,tuesday,0.5788,-0.004998,2.2830,0.8576,0.004164,0.6279
10,11,800116,wednesday,0.5808,0.003449,2.2675,0.8602,0.004197,0.6317
11,12,800117,thursday,0.5807,-0.000172,2.2770,0.8620,0.004174,0.6289
12,13,800118,friday,0.5787,-0.003450,2.2835,0.8607,0.004169,0.6251
13,14,800121,monday,0.5778,-0.001556,2.2780,0.8614,0.004151,0.6236
14,15,800122,tuesday,0.5760,-0.003120,2.2765,0.8612,0.004172,0.6205
15,16,800123,wednesday,0.5774,0.002428,2.2780,0.8625,0.004226,0.6203
16,17,800124,thursday,0.5773,-0.000173,2.2765,0.8638,0.004175,0.6215
17,18,800125,friday,0.5758,-0.002602,2.2595,0.8597,0.004174,0.6184
18,19,800128,monday,0.5757,-0.000174,2.2530,0.8580,0.004161,0.6186
19,20,800129,tuesday,0.5774,0.002949,2.2650,0.8611,0.004184,0.6203
20,21,800130,wednesday,0.5752,-0.003817,2.2650,0.8608,0.004184,0.6155
21,22,800131,thursday,0.5740,-0.002088,2.2700,0.8639,0.004183,0.6121
22,23,800201,friday,0.5733,-0.001220,2.2765,0.8631,0.004147,0.6118
23,24,800204,monday,0.5743,0.001743,2.2925,0.8617,0.004166,0.6140
24,25,800205,tuesday,0.5735,-0.001394,2.2895,0.8625,0.004164,0.6151
25,26,800206,wednesday,0.5774,0.006777,2.3150,0.8622,0.004166,0.6238
26,27,800207,thursday,0.5752,-0.003817,2.3025,0.8626,0.004163,0.6195
27,28,800208,friday,0.5750,-0.000348,2.3000,0.8631,0.004136,0.6176
28,29,800211,monday,0.5752,0.000348,2.3050,0.8626,0.004141,0.6184
29,30,800212,tuesday,0.5742,-0.001740,2.3065,0.8611,0.004140,0.6170
...,...,...,...,...,...,...,...,...,...
1837,1838,870409,thursday,0.5495,0.006024,1.6195,0.7665,0.006944,0.6622
1838,1839,870410,friday,0.5521,0.004720,1.6215,0.7668,0.006995,0.6664
1839,1840,870413,monday,0.5538,0.003074,1.6265,0.7674,0.007029,0.6684
1840,1841,870414,tuesday,0.5569,0.005582,1.6355,0.7551,0.007102,0.6761
1841,1842,870415,wednesday,0.5530,-0.007028,1.6325,0.7575,0.007059,0.6711
1842,1843,870416,thursday,0.5523,-0.001267,1.6310,0.7575,0.006990,0.6688
1843,1844,870420,monday,0.5524,0.000181,1.6340,0.7583,0.007032,0.6720
1844,1845,870421,tuesday,0.5486,-0.006903,1.6325,0.7544,0.007012,0.6680
1845,1846,870422,wednesday,0.5482,-0.000729,1.6290,0.7486,0.007037,0.6691
1846,1847,870423,thursday,0.5535,0.009622,1.6435,0.7494,0.007102,0.6793
1847,1848,870424,friday,0.5602,0.012032,1.6600,0.7459,0.007173,0.6854
1848,1849,870427,monday,0.5575,-0.004831,1.6580,0.7501,0.007171,0.6807
1849,1850,870428,tuesday,0.5574,-0.000179,1.6555,0.7485,0.007137,0.6818
1850,1851,870429,wednesday,0.5589,0.002687,1.6615,0.7468,0.007140,0.6814
1851,1852,870430,thursday,0.5574,-0.002687,1.6615,0.7473,0.007092,0.6802
1852,1853,870501,friday,0.5629,0.009819,1.6730,0.7454,0.007135,0.6868
1853,1854,870504,monday,0.5664,0.006199,1.6825,0.7432,0.007215,0.6915
1854,1855,870505,tuesday,0.5635,-0.005133,1.6820,0.7483,0.007199,0.6861
1855,1856,870506,wednesday,0.5656,0.003720,1.6865,0.7468,0.007199,0.6889
1856,1857,870507,thursday,0.5619,-0.006563,1.6780,0.7476,0.007181,0.6842
1857,1858,870508,friday,0.5581,-0.006786,1.6740,0.7485,0.007153,0.6791
1858,1859,870511,monday,0.5583,0.000358,1.6610,0.7481,0.007163,0.6784
1859,1860,870512,tuesday,0.5577,-0.001075,1.6670,0.7479,0.007142,0.6791
1860,1861,870513,wednesday,0.5577,0.000000,1.6670,0.7479,0.007142,0.6791
1861,1862,870514,thursday,0.5613,0.006434,1.6800,0.7469,0.007183,0.6832
1862,1863,870515,friday,0.5625,0.002136,1.6800,0.7457,0.007158,0.6839
1863,1864,870518,monday,0.5611,-0.002492,1.6815,0.7451,0.007130,0.6832
1864,1865,870519,tuesday,0.5646,0.006218,1.6865,0.7442,0.007165,0.6882
1865,1866,870520,wednesday,0.5632,-0.002483,1.6805,0.7414,0.007147,0.6865
1866,1867,870521,thursday,0.5627,-0.000888,1.6795,0.7421,0.007107,0.6861

### Split the dataset into numerical and categorical

#### Numerical

In [123]:
df_numerical = df.drop(['Unnamed: 0', 'date', 'day'], axis=1)

In [129]:
df_numerical.head()

       dm       ddm      bp      cd        dy      sf
0  0.5861       NaN  2.2490  0.8547  0.004206  0.6365
1  0.5837 -0.004103  2.2365  0.8552  0.004187  0.6357
2  0.5842  0.000856  2.2410  0.8566  0.004269  0.6355
3  0.5853  0.001881  2.2645  0.8538  0.004315  0.6373
4  0.5824 -0.004967  2.2560  0.8553  0.004257  0.6329

#### Categorical

In [125]:
df_categorical = pd.DataFrame(df['day'])

In [130]:
df_categorical.head()

         day
0  wednesday
1   thursday
2     friday
3     monday
4    tuesday

#### To create our entropy tree

In [127]:
dtree = tree.DecisionTreeClassifier(criterion='entropy')

#### Build the models

In [128]:
dtree.fit(df_numerical, df_categorical)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

#### Print the tree

In [131]:
tree_print(dtree, df_numerical)

AttributeError: 'DecisionTreeClassifier' object has no attribute 'classes_'